body {
    background-image: url(./8c98994518b575bfd8c949e91d20548b.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background: rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
    color: rgb(10, 10, 10);
    text-align: center;
    margin-top: 5rem;
    border-radius: 1rem;
    
}

.header img {
    width: 7rem;
}
.ver {
   text-align: center;
}
.ver p {
    color: white;
    font-weight: 600;
}

.ver input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}









.button {
  cursor: pointer;
  /* position: relative; */
/*   padding: 1vh 30%; */
  font-size: 12px;
  width: 50%;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(244, 244, 244);
  border-radius: 34px;
  background-color: green;
  font-weight: 600;
  /* margin-left: 2.5rem; */
  margin-top: 3rem;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}
.button a {
    text-decoration: none;
    color: white;
    padding: 2rem;
    text-align: center;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 80px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: rgb(23, 97, 18);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  color: #212121;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
}

.button:active {
  scale: 1;
}


